<div>
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <table>
      <tbody>
        <tr>
          <td>
            <label for="name">Name: </label>
            <input type="text" id="name" formControlName="name" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="email">Email: </label>
            <input type="text" id="email" formControlName="email" />
          </td>
        </tr>
        <tr>
          <td>
            <button
              type="submit"
              [disabled]="form.invalid"
              class="btn btn-primary"
            >
              Register
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
